/* Error: This module and the new module both define a variable named "$white".
 *   ,
 * 1 | @use "../01_config" as *;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss\05_layout\_layout.scss 1:1  @import
 *   scss\05_layout\_index.scss 1:9   @import
 *   scss\style.scss 5:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This module and the new module both define a variable named "$white".\a   \2577 \a 1 \2502  @use "../01_config" as *;\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\05_layout\\_layout.scss 1:1  @import\a   scss\\05_layout\\_index.scss 1:9   @import\a   scss\\style.scss 5:9              root stylesheet';
}
