<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../scss/06_pages/_home.scss" />
  </head>
  <body>
    <div class="beverages__container inner">
      <h2 class="beverages__menu a11yHidden"></h2>
      <figure class="beverages__menu-list">
        <img
          src="../images/iced-cherry-blossoms-latte.png"
          alt="ICED 벚꽃 라떼"
        />
        <figurecaption class="beverages__caption">ICED 벚꽃 라떼</figurecaption>
      </figure>

      <div class="beverages__info">
        <h2 class="beverages__header">
          ICED 벗꽃라떼
          <span class="beverages__sub-header">Cherry Blossom Latte</span>
        </h2>
        <!-- border-bottom -->
        <p class="beverages__info-text">
          은은한 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
        </p>
        <ul class="beverages__info-details-list">
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">칼로리</span>
            <span class="beverages__info-value">(393kcal)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">당류</span>
            <span class="beverages__info-value">(35g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">단백질</span>
            <span class="beverages__info-value">(7g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">포화지방</span>
            <span class="beverages__info-value">(18.6g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">나트륨</span>
            <span class="beverages__info-value">(149mg)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">카페인</span>
            <span class="beverages__info-value">(0mg)</span>
          </li>
        </ul>
      </div>

      <figure class="beverages__menu-list">
        <img
          src="../images/hot-cherry-blossoms-latte.png"
          alt="HOT 벚꽃 라떼"
        />
        <figurecaption class="beverages__caption">HOT 벚꽃 라떼</figurecaption>
      </figure>
      <div class="beverages__info">
        <h2 class="beverages__header">
          ICED 벗꽃라떼
          <span class="beverages__sub-header">Cherry Blossom Latte</span>
        </h2>
        <p class="beverages__info-text">
          은은한 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
        </p>
        <ul class="beverages__info-details-list">
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">칼로리</span>
            <span class="beverages__info-value">(393kcal)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">당류</span>
            <span class="beverages__info-value">(35g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">단백질</span>
            <span class="beverages__info-value">(7g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">포화지방</span>
            <span class="beverages__info-value">(18.6g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">나트륨</span>
            <span class="beverages__info-value">(149mg)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">카페인</span>
            <span class="beverages__info-value">(0mg)</span>
          </li>
        </ul>
      </div>

      <figure class="beverages__menu-list">
        <img src="../images/iced-brownie-chocolate.png" alt="" />
        <figurecaption class="beverages__caption"
          >ICED 브라우니 쇼콜라</figurecaption
        >
      </figure>
      <div class="beverages__info">
        <h2 class="beverages__header">
          ICED 벗꽃라떼
          <span class="beverages__sub-header">Cherry Blossom Latte</span>
        </h2>
        <p class="beverages__info-text">
          은은한 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
        </p>
        <ul class="beverages__info-details-list">
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">칼로리</span>
            <span class="beverages__info-value">(393kcal)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">당류</span>
            <span class="beverages__info-value">(35g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">단백질</span>
            <span class="beverages__info-value">(7g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">포화지방</span>
            <span class="beverages__info-value">(18.6g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">나트륨</span>
            <span class="beverages__info-value">(149mg)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">카페인</span>
            <span class="beverages__info-value">(0mg)</span>
          </li>
        </ul>
      </div>

      <figure class="beverages__menu-list">
        <img src="../images/hot-cherry-blossoms-latte.png" alt="" />
        <figurecaption class="beverages__caption"
          >HOT 브라우니 쇼콜라</figurecaption
        >
      </figure>
      <div class="beverages__info">
        <h2 class="beverages__header">
          ICED 벗꽃라떼
          <span class="beverages__sub-header">Cherry Blossom Latte</span>
        </h2>
        <p class="beverages__info-text">
          은은한 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
        </p>
        <ul class="beverages__info-details-list">
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">칼로리</span>
            <span class="beverages__info-value">(393kcal)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">당류</span>
            <span class="beverages__info-value">(35g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">단백질</span>
            <span class="beverages__info-value">(7g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">포화지방</span>
            <span class="beverages__info-value">(18.6g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">나트륨</span>
            <span class="beverages__info-value">(149mg)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">카페인</span>
            <span class="beverages__info-value">(0mg)</span>
          </li>
        </ul>
      </div>

      <figure class="beverages__menu-list">
        <img src="../images/jeju-green-tangerine-tea.png" alt="hot" />
        <figurecaption class="beverages__caption"
          >제주청귤 오리지널</figurecaption
        >
      </figure>
      <div class="beverages__info">
        <h2 class="beverages__header">
          ICED 벗꽃라떼
          <span class="beverages__sub-header">Cherry Blossom Latte</span>
        </h2>
        <p class="beverages__info-text">
          은은한 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
        </p>
        <ul class="beverages__info-details-list">
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">칼로리</span>
            <span class="beverages__info-value">(393kcal)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">당류</span>
            <span class="beverages__info-value">(35g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">단백질</span>
            <span class="beverages__info-value">(7g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">포화지방</span>
            <span class="beverages__info-value">(18.6g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">나트륨</span>
            <span class="beverages__info-value">(149mg)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">카페인</span>
            <span class="beverages__info-value">(0mg)</span>
          </li>
        </ul>
      </div>

      <figure class="beverages__menu-list">
        <img src="../images/jeju-green-tangerine-blossom.png" alt="hot" />
        <figurecaption class="beverages__caption"
          >제주청귤 블라썸</figurecaption
        >
      </figure>
      <div class="beverages__info">
        <h2 class="beverages__header">
          ICED 벗꽃라떼
          <span class="beverages__sub-header">Cherry Blossom Latte</span>
        </h2>
        <p class="beverages__info-text">
          은은한 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
        </p>
        <ul class="beverages__info-details-list">
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">칼로리</span>
            <span class="beverages__info-value">(393kcal)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">당류</span>
            <span class="beverages__info-value">(35g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">단백질</span>
            <span class="beverages__info-value">(7g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">포화지방</span>
            <span class="beverages__info-value">(18.6g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">나트륨</span>
            <span class="beverages__info-value">(149mg)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">카페인</span>
            <span class="beverages__info-value">(0mg)</span>
          </li>
        </ul>
      </div>

      <figure class="beverages__menu-list">
        <img src="../images/pomegranate-tea.png" alt="hot" />
        <figurecaption class="beverages__caption">석류 오리지널</figurecaption>
      </figure>
      <div class="beverages__info">
        <h2 class="beverages__header">
          ICED 벗꽃라떼
          <span class="beverages__sub-header">Cherry Blossom Latte</span>
        </h2>
        <p class="beverages__info-text">
          은은한 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
        </p>
        <ul class="beverages__info-details-list">
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">칼로리</span>
            <span class="beverages__info-value">(393kcal)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">당류</span>
            <span class="beverages__info-value">(35g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">단백질</span>
            <span class="beverages__info-value">(7g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">포화지방</span>
            <span class="beverages__info-value">(18.6g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">나트륨</span>
            <span class="beverages__info-value">(149mg)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">카페인</span>
            <span class="beverages__info-value">(0mg)</span>
          </li>
        </ul>
      </div>

      <figure class="beverages__menu-list">
        <img src="../images/pomegranate-apple-lime.png" alt="hot" />
        <figurecaption class="beverages__caption">석류 애플라임</figurecaption>
      </figure>
      <div class="beverages__info">
        <h2 class="beverages__header">
          ICED 벗꽃라떼
          <span class="beverages__sub-header">Cherry Blossom Latte</span>
        </h2>
        <p class="beverages__info-text">
          은은한 벚꽃향과 라즈베리 화이트 초콜릿 토핑이 올라간 핑크빛 라떼
        </p>
        <ul class="beverages__info-details-list">
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">칼로리</span>
            <span class="beverages__info-value">(393kcal)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">당류</span>
            <span class="beverages__info-value">(35g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">단백질</span>
            <span class="beverages__info-value">(7g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">포화지방</span>
            <span class="beverages__info-value">(18.6g)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">나트륨</span>
            <span class="beverages__info-value">(149mg)</span>
          </li>
          <li class="beverages__info-details-item">
            <span class="beverages__info-key">카페인</span>
            <span class="beverages__info-value">(0mg)</span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
